.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example

data/*
media/*
models/*
secrets/*

*.mp4
*.mov
*.avi
*.mkv
*.webm
*.wav
*.mp3

.gitignore

whisper.cpp/
.pytest_cache/
